In [1]:
# Name: Eli Walters
# File name: M04 Programming Assignment - Modules and Databases.ipynb
# Description: Assignments for the Things to Do section of chapter 11 and chapter 16.

In [4]:
# 11.1
# Moved to zoo.py file to be able to be imported.

In [6]:
# 11.2
import zoo as menagerie

menagerie.hours()

Open 9-5 Daily

In [4]:
# 16.3 - 16.7 (PreReq to 16.8)
import sqlite3
import csv

# Create Database Connecton w/ sqlite3
conn = sqlite3.connect('books.db')
curs = conn.cursor()

# Delete Previous Table from Database
curs.execute('DROP TABLE books')

# Create new books table
curs.execute('''CREATE TABLE books
    (title VARCHAR(20) PRIMARY KEY,
     author VARCHAR(20),
     year INT)''')

# Insert data from books2.csv into the books table
with open('books2.csv', 'rt') as fin:
    cin = csv.reader(fin)
    for row in cin:
        curs.execute(f'INSERT INTO books (title, author, year) VALUES("{row[0]}", "{row[1]}", "{row[2]}")')

In [2]:
# 16.8
import sqlalchemy as sa
import csv

# Create Database Connection w/ sqlalchemy
engine = sa.create_engine('sqlite:///books.db')

with engine.connect() as conn:
    # Insert data from books2.csv into the books table
    with open('books2.csv', 'rt') as fin:
        cin = csv.reader(fin)
        for row in cin:
            conn.execute(sa.text(f'INSERT INTO books (title, author, year) VALUES("{row[0]}", "{row[1]}", "{row[2]}")'))
    
    rows = conn.execute(sa.text('SELECT * FROM books ORDER BY title'))
    
    for row in rows:
        print(row)

    conn.close()

('Perdido Street Station', 'China MiÃ©ville', 2000)
('Small Gods', 'Terry Pratchett', 1992)
('The Spellman Files', 'Lisa Lutz', 2007)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Thud!', 'Terry Pratchett', 2005)